/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("https://i.ytimg.com/vi/7v3wX9wqu80/maxresdefault.jpg", 
    "http://www.minecraft-installer.de/Dateien/BilderHQ/SEUS%20Shader.jpg",
    "http://minecraft.org.pl/images/shaderpacks/seus-2.jpg")/*linear-gradient(#CDF, #F5F5F5 768px)*/;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: linear-gradient(#aaaaaa, #F5F5F5 768px);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  text-align: justify;
  background: #FFF;
  border: 1px solid #F5F5F5;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#video_frame {        /* iframe CSS from https://stackoverflow.com/questions/25302836/responsive-video-iframes-keeping-aspect-ratio-with-only-css */
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

#video_frame iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.container img
{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container img.icon
{
    display: inline;
    box-shadow: none;
    height: 1.5em;
}

table.comparison
{
    text-align: center;
    width: 100%;
    margin: 1em auto 1em auto;
}

/* Python Code CSS, because for some reason this isn't automatically applied
---------------------------------------------------------------------------- */
code .c
{
    font-style: italic;
    color: #777;
}

code .k
{
    color: #00C;
    font-weight: bold;
}

code .mi, code .mf, code .bp
{
    color: #FF5733;
}
